
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  body{
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .pagination{
    display:  flex;
    place-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .pagination>.btn{
    background: red;
    border-radius: 5%;
    padding: 0.5rem;
  }
  .pages{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    font-weight: bolder;
  }
  .active-page{
    color: red;
  }